[2013-08-19 10:14] inderjeetsinghsethi opened #1 "Autocomplete Rendring Issue in Firefox"
Hey Steven, First really thanks for wonderful plugin, i am using your v-2.0 plugin for tinymce 4.0, this plugin is working fine with chrome, but when i am using it in firefox 23.0.1, it doesn't rendering properly or in other words text is not being written in autocomplete-searchtext, which causing the issue, according to me the problem is with Unicode Character \uFEFF, which is not being properly

[2013-08-19 12:53] #1 closed, assigned to StevenDevooght

[2014-02-07 13:39] rafaelcor opened #2 "Multiple delimiters"
Hello,
I've a question, this plugin can use multiple delimiters?
For example '@' for people and '#' for a number?
Thanks

[2014-02-07 13:55] StevenDevooght opened #3 "Support multiple delimiters"
There is currently only support for one delimiter. Add the possibility to configure multiple delimiters.

[2014-02-07 13:55] #3 closed, assigned to nobody

[2014-02-20 05:02] aggied opened #4 "Render feedback to inform user source is loading"
Great plugin--  I have spent the last 20 minutes looking over the source but realized since there is one contributor you will probably be able to quickly point me in the right direction--

My source for the mention is coming from an ajax request, so it takes a couple seconds to get the first results. During this time the user has no feedback that the system is searching for suggestions. I'd like t

[2014-02-21 20:01] #4 closed, assigned to nobody

[2014-03-29 16:56] aggied opened #7 "Doesn't work with valid_elements config option"
I need to be able to include custom attribs in my TinyMce elements. When I enable the valid_elements config option, the mention plugin doesn't work and I get this error:

[code]

which points to this code of the plugin (line 207):

[code]

To be more specific, I need to be able to insert a <span> element bound as an AngularJS directive. Without the valid_elements option, when the content is saved

[2014-03-31 06:53] #7 closed, assigned to nobody

[2014-04-08 12:32] ptsavdar opened #8 "prevCharIsSpace would only search in the end of content"
This is more of an enhancement than an issue. I don't know if it is made on purpose but the prevCharIsSpace function would only test the end of the selected content. Thus, if cursor is in the middle of content even if previous character is space, it won't activate the autocomplete. Here is a proposition if you'd like to take a look and include it if you're interested.

[code]

[2014-04-08 19:23] #8 closed, assigned to nobody

[2014-05-05 20:01] TobiasW00 opened #9 "Internet Explorer 11 OnClick -> Item disappears"
Hello! Thank you for this nice piece of code! If I use Firefox or Chrome I can click on the Element and it gets inserted in the textbox. If I do the same on IE 11 the selectbox disappers and the item is not inserted. Any Idea?

Thank you!

[2014-05-17 11:03] #9 closed, assigned to nobody

[2014-05-21 07:01] cmast opened #10 "Bug on Render with different queryBy property"
When you change the value in option "queryBy" from default ("name") to another value results to a list of "undefined" labels in list. This caused on line 254 of plugin, where the rendered list is created by item.name. It should contain the queryBy property value as item property.

[2014-05-28 08:49] #10 closed, assigned to nobody

[2014-10-21 23:23] Flatlinezor opened #12 "Not working in inline mode of tinymce?"
Hello!

I might have overlooked something, but does this work when inline: true is enabled in tinymce? I tried it, and in that mode, if mention is active, it does not initialize tinymce properly.

[2014-10-28 15:47] #12 closed, assigned to nobody

[2014-11-06 13:21] jchafik opened #13 "Regular expression compilation fails when using reserved characters"
Line 195 of plugin.js may fail if special characters are used in the query. For example, matching on "Test (unbalanced" will fail to parse because of an unterminated group.

Possible Solutions: escape characters in text or use something other than a regular expression for highlighting.

[2014-11-07 07:16] #13 closed, assigned to nobody

[2014-11-13 17:05] Flatlinezor opened #14 "Mouse selection on result item does not paste it to tinymce"
Hello!

This is quite strange, if I use the keyboard and enter to select a result entry after the results, it pastes it in the editor properly, but if I use the mouse to select it, no, it doesn't get added in. What is funny is that here in the issue description field, mouse click after @ or # works properly. What am I missing?

http://cognistreamer.github.io/tinyMCE-mention/  here, you can test it

[2014-11-18 16:16] #14 closed, assigned to nobody

[2014-12-04 15:43] readme42 opened #15 "Publish to bower"
I like this plugin, thanks for it.

It would be great, if you could publish it to bower.

[2015-01-26 13:26] #15 closed

[2015-01-26 19:36] readme42 commented on #15
Thank you! :+1:

[2015-03-10 19:40] malhayek2014 opened #16 "How to remove a mention after it has been added?"
@StevenDevoogh
I need to store all the mentioned users in a database. In my source method I have added a name and an id.  When a user submits a form I want to be able to get a list of all the ids that have been added in the text (can have more than one user)

My first thought was to use the insert method and track the id in hidden input "comma separated" and then parse the string on the form submi

[2015-03-12 08:52] StevenDevooght commented on #16
A 'removed' event is currently missing from this plugin but is on the todo list.

For now what you can do is override the insert method and insert something like this [~MentionedUser]. On the server you should be able to parse all valid entries.

[2015-03-17 17:50] malhayek2014 commented on #16
Thank you. I have used your suggestion.

[2015-05-07 10:41] KRademacher opened #17 "multiple delimiters"
Not really an issue on your side, more a question, but I can't seem to get your example syntax of multiple delimiters to work. I linked it to a .js file, but it cant get the data for some reason. Would you mind maybe showing a more detailed example? Thanks in advance.

[2015-05-07 11:31] StevenDevooght commented on #17
Normally you just have to implement the source function:
[code]

Can you post a snippet of your source code?

[2015-05-07 13:33] KRademacher commented on #17
I understand that, that's what I did. All I really need is an example of an ajax call. I got this assignment at my internship, but I never touched ajax and json before, so even after searching the web for multiple hours, I still can't get it to work. That's why showing you a snippet won't do anything, because I don't even know myself what it does. Something I did saw however is that you are missin

[2015-05-08 13:33] StevenDevooght commented on #17
There was indeed a typo in the documentation. Good catch!

You can also immediately call process with an array of users.
[code]

If you're using jQuery the following link explains how to perform an ajax call: http://api.jquery.com/jquery.getjson/

[2015-05-11 09:53] jssisodiya commented on #2
@StevenDevooght
We can fetch data based on the delimiter in **source** as shown in above snippet. But can we do the same in **render** and **insert** callbacks?. The use case is different layout based on delimiter ( anchor tags for '@' and image tags for ':' )

[2015-05-11 11:58] StevenDevooght commented on #2
It's possible to access the delimiter in the **render** & **insert** callbacks using the following code:

[code]

[2015-05-12 15:01] KRademacher commented on #17
That solved it, thanks for your time!

[2015-05-15 08:18] #17 closed

[2015-05-19 11:32] #2 closed

[2015-06-05 10:52] masihur opened #18 "Issue with Enter Key"
Hi,

I have used your plugin it is very nice. I have a problem with this plugin. I used tinymce3.5 version and I could not used <p> tag into tinymce editor. I updated manully then if a user write some ting into editor and then press enter key then we enter a <br> tag insted of <p> tag (tiny mce default).
So in this case if we press enter without prees space button and then enter @ delimeter thane

[2015-06-07 18:51] StevenDevooght commented on #18
Development on older versions has stopped... However if I have time I'll have a look if I can reproduce the problem.

What browser and version are you using. If possible could you share a snippet of your code?

[2015-06-08 10:03] sneha27 opened #21 "Extend Tinymce to support mention plugin in joomla site"
Hello,

This is very awesome plugin, that works well when implemented independently.
But I just want a way out to add same for joomla sites for the default TinyMce editors.

Things that I have tried are:
- Added mention plugin at location: "media/editors/tinymce/jscripts/tiny_mce/plugins"
- And tried adding "tinymce.init({....." in tinymce.php at various events.. But no success.

Can you please he

[2015-06-08 14:58] StevenDevooght commented on #21
Hi,

I don't have experience with joomla myself... However this line of [code](https://github.com/joomla/joomla-cms/blob/3.4.1/plugins/editors/tinymce/tinymce.php#L591)indicates that joomla has an extensibility point built-in for adding custom plugins.

[2015-06-09 12:48] sneha27 commented on #21
Thank you.. Trying out few things.
Hope that works.

[2015-06-11 12:22] sneha27 commented on #21
Hi,

I'm using tinyMCE v3.5.x, hence using plugin v1.0.0
Below is the code I have added on event tinyMCE.init({...
but cannot see any action nor errors.
Mention js is included too.

Below is the code, I'm adding. Could you suggest me the change?

selector:'iframe, textarea',
plugins : "advlink, paste, mention",
delimiter: '@',
mentions: {
	source: [
		{ name: 'Tyra Porcelli' },
		{ name: 'Brigid R

[2015-06-12 12:16] masihur opened #22 "Username show in start of editor if user select username from notification drop-down on the safari browser."
Hi,
I have used tinyMCE 3.5 version, I have integrated mention plug-in on it. I got an issue on the safari browser. If we write some text into the editor after that press @USERNAME then autosuggationbox open. If we select any username from the drop-down then it show into the start point (Left side) of the editor. While on another browser user-name show at correct position. Screen shot as below.

!

[2015-06-12 12:44] masihur opened #23 "Auto suggation box doesn't open if we use BR tag on enter key instead of P tag."
Hi,
I have used tinyMCE 3.5 version. We use BR tag for enter key instead of P tag (default feature of tinyMCE). In this case if a user press enter key then auto-suggestion box doesn't open on @symbol.
Applied a condition into the function o(). After that issue have been fixed.
Code as below.

[code]
Please review it and add this into your original library.

[2015-06-12 15:39] StevenDevooght commented on #21
Hi,

Can you check if the plugin actually is loaded on the page?
![image](https://cloud.githubusercontent.com/assets/449346/8133632/cc46ca74-1129-11e5-9a7c-c50d0a45e2ba.png)

[2015-06-12 16:08] StevenDevooght commented on #22
Hi,

Are you using safari on a mac?

[2015-06-12 18:09] StevenDevooght commented on #23
Hi,

I understand the problem. The problem is that `e.selection.getNode()` does not work properly when using tinyMCE 3.5 with `force_br_newlines`. It's also strongly advised to [not use](http://www.tinymce.com/wiki.php/Configuration3x:force_br_newlines) the option.

For now I suggest that you disable the `force_br_newlines` if possible.

[2015-06-12 18:09] #18 closed

[2015-06-13 09:07] StevenDevooght commented on #23
I fixed the `prevCharIsSpace` function so it also works with `force_br_newlines` enabled.

[2015-06-15 12:53] masihur commented on #22
Hi,

No I am using safari on Widow7.

[2015-06-15 12:54] masihur commented on #23
Hi,
Thank You Steven Devooght.

[2015-06-15 14:57] sneha27 commented on #21
Hello,

Thanks for your response.
Checked that.. Plugin/plugin file is loaded.
Going through, editor_plugin.js control. Hope that helps.
Tell me if any needful things are to be checked.

On Fri, Jun 12, 2015 at 9:09 PM, Steven Devooght <notifications@github.com>
wrote:

--
Regards,
Sneha

[2015-06-15 16:58] StevenDevooght commented on #21
First you can check if the developer tools throw an exception.
If not, you can put a break-point in `editor_plugin` and check if it is hit.

[2015-06-15 16:58] #23 closed

[2015-06-15 18:54] StevenDevooght commented on #22
I managed to reproduce the issue. Safari loses focus after calling `this.editor.dom.remove`. I tried a couple of things but didn't manage to get the correct behavior...

Since Apple ditched Safari for windows a couple of years ago I consider this issue as low priority.

[2015-06-24 07:51] manojdhiman commented on #16
@malhayek2014  i want to use the same . I want to store the mentions in the db . Can you show me how you did this ?? the source code.
thanks

[2015-06-25 06:40] StevenDevooght commented on #16
You can override the `insert` function:
[code]

On the server you can parse the incoming html and pull out all `user-mention` links.

[2015-06-25 06:41] #22 closed

[2015-07-14 08:03] ManuZenou opened #24 "is there a way to add "grouping" to the dropdown menu ?"

[2015-07-16 06:05] StevenDevooght commented on #24
The `renderDropdown` & `render` function can be overridden as you like. I don't know if that will be enough for what you are trying to do...

[2015-07-17 12:02] ManuZenou commented on #24
both function return HTML string. is there a way to override an event that invokes after it gets rendered ?
for example, I'd like to try and use Select2 (which has the functionality that I need), and I need to call the .select2() function.

[2015-07-20 06:46] StevenDevooght commented on #24
There is currently no callback event after the dropdown is rendered. However the grouping can be easily done using just html and css I think.

[2015-07-22 12:22] ManuZenou opened #25 "when rendering custom <li> items, highlighting breaks"
when adding a custom `render` functionality, for example:

[code]

(I'm using the fontawesome plugin as well)

In that case, the highlighting breaks, because it assumes that the text() functions returns values from only one <span>.

line232:
[code]

[2015-07-23 06:37] StevenDevooght commented on #25
The `text` function returns both the characters within the mceNonEditable span and the dropdown-text span. In that case the replace function does not work indeed.

When I have time I will look into it or feel free to propose a fix yourself. :smile:

[2015-08-15 09:38] joshbenhamou opened #26 "Two instances on same page"
Hi, thanks for the great plugin

I'm attempting to have two instances on the same page. Unfortunately, although they are set up exactly the same way (except for different ids) the mention dropdown is not showing on the second one. I've included my code for one below. Any advice?

[code]

[2015-08-17 06:49] StevenDevooght commented on #26
Hi @joshbenhamou,

I will look into this issue.

[2015-08-19 17:15] StevenDevooght commented on #26
@joshbenhamou I created a [sample fiddle](http://fiddle.tinymce.com/EWeaab) with two instances on one page. Both instance properly show the mention dropdown.

Can you submit a fiddle reproducing your problem?

[2015-09-25 13:07] #26 closed

[2015-09-25 13:07] #21 closed

[2015-10-05 20:06] deeg opened #27 "Remove jQuery dependency"
It would be nice if there was a version of this plugin which did not require jQuery.

[2015-10-06 12:20] StevenDevooght commented on #27
That would indeed be a nice improvement. It's doable, but would require some work...

[2015-11-20 08:08] #16 closed

[2015-12-15 19:47] thibaultvanc opened #28 "Various sources"
Is it possible to set various sources. For exemple, if I press # key I have a source1,  if I press @  key, i have the source 2 ??

Thanks in advance

[2015-12-15 19:56] StevenDevooght commented on #28
Hi,

If you configure the source parameter [as a function](https://github.com/CogniStreamer/tinyMCE-mention#function) you can use the delimiter parameter to differentiate sources.

[2015-12-15 20:11] thibaultvanc commented on #28
Thank You Steven, I have just tried. Its working with @ but not with #
is it normal ?

[2015-12-16 09:37] StevenDevooght commented on #28
@thibaultvanc, can you create a sample fiddle (http://fiddle.tinymce.com/) that demonstrates this behavior?

[2015-12-16 10:47] thibaultvanc commented on #28
The mention pluggin is not attached to the fiddle, and I don't know how to do it ...

[2015-12-16 12:30] StevenDevooght commented on #28
I created a fiddle a while ago. You can have a look [here](http://fiddle.tinymce.com/EWeaab/1)

[2015-12-16 13:51] thibaultvanc commented on #28
Here : http://fiddle.tinymce.com/hmfaab/7

[2015-12-16 14:32] StevenDevooght commented on #28
I forgot to mention, but the delimiters have to be configured too. See the [updated sample](http://fiddle.tinymce.com/hmfaab/12)

[2015-12-16 15:34] thibaultvanc commented on #28
Ok Thanks
but this one doesn't work ? ##

http://fiddle.tinymce.com/hmfaab/14

[2015-12-16 18:25] StevenDevooght commented on #28
Currently only single character delimiters are supported... Also differentiating between '#' and '##' would not be possible.

[2015-12-17 10:52] thibaultvanc commented on #28
ok thank You

[2016-01-07 12:21] #28 closed

[2016-01-22 07:36] pkgoyal86 opened #29 "How to get select event ?"
How can I get select event when any value on suggestion is clicked, I want to save id of users in a hidden textfield to send notification.

[2016-01-22 08:05] StevenDevooght commented on #29
A `selected` or `removed` event is not available in this plugin.

You can however override the insert function:
[code]
On the server you can parse the incoming html and pull out all user-mention links.

[2016-01-23 04:02] pkgoyal86 commented on #29
Thanks :)

[2016-01-23 04:02] #29 closed

[2016-01-29 09:06] christophedebatz commented on #16
Hi, how about the remove event to remove the inserted li in only one step? thanks

[2016-01-29 14:00] pkgoyal86 commented on #29
Hi Steven,

Thanks for this outstanding plugin. I am using it in my webapplication.

I want a little favor from you. How can I use it on simple textarea. Do you
have another plugin for simple textarea ?

If you have please suggest.

Thanks Again.

PK

On Fri, Jan 22, 2016 at 1:35 PM, Steven Devooght <notifications@github.com>
wrote:

[2016-02-14 15:32] alexcroox opened #32 "Remove &nbsp; surrounding insert"
When I save the message TinyMCE is adding `&nbsp;` either side of the mention text which is causing my forum mention system to ignore it.

[code]

Produces

`<p>this is a test&nbsp;@Alex&nbsp;</p>`

I'm not sure where the `&nbsp;` is coming from

[2016-02-15 09:43] StevenDevooght commented on #32
TinyMCE automatically adds `&nbsp;` in some cases. I don't think this is an issue since we're dealing with html markup.

[2016-02-16 21:22] brianvoe opened #33 "Npm"
Can you publish this to npm please? https://docs.npmjs.com/getting-started/publishing-npm-packages

[2016-02-18 09:04] #24 closed

[2016-02-29 20:28] chrishessler opened #35 "'extended' delimiters"
Hi,

I was wondering if it is possible to use an 'extended' delimiter?
Currently it is limited by a single character. I would like to use the delimiters as e.g.:

@account.(query)
@contact.(query)
etc.

[2016-03-01 08:54] chrishessler commented on #35
I do not wish to use '@' itself as a delimiter. My delimiter array would look like:
['@account.', '@contact.'] So the text after '@' would be my differentiation like so:

`delimiter: ['@account.', '@contact.'],
source: function (query, process, delimiter) {
    switch (delimiter) {
        case '@account.':
        case '@contact.':
            $.get('/admin/template/variables/' + delimiter, funct

[2016-03-02 08:09] StevenDevooght commented on #35
It was not my intend to support these kind of delimiters as they are not very easy to use for end users.

But feel free to contribute:smile:

[2016-03-30 08:19] leoloso opened #36 "end the lookup when typing a space"
Hi Steven, thanks for your plug-in, I'm using it to allow users input @mentions and #hashtags. I will suggest a new functionality to make it work smoother for #hashtags.

Right now, when typing # then a keyword and then a space (without ever having selected a value from the dropdown), it is still considered part of the keyword and it continues the lookup. However, when implementing the '#' lookup

[2016-03-30 14:11] StevenDevooght commented on #36
Hi leoloso, so if I understand this correctly when the user types the complete hashtag there will be only one value left in the dropdown to choose from. Hitting the space in that case should select that value?

[2016-03-30 14:28] leoloso commented on #36
Hi Steven,

no, if the lookup has no items, then the dropdown will already have disappeared, however it never gets cleared (it keeps trying to look for a match for each character you type in, including the space)

So then, if you type #first #second #third, and let's say you never selected any option from the first dropdown, then it doesn't even try to list elements when typing #second or #third,

[2016-03-30 15:15] StevenDevooght commented on #36
Ah ok, hitting the space should just cancel the lookup and submit the value just as you would hit ESC or ENTER. I think this behavior makes sense (Only if the lookup doesn't return any matches).

[2016-03-30 15:21] leoloso commented on #36
Agree, however I think that sometimes (mostly for Twitter-like hashtags) it makes sense to treat the space as a delimiter to end the lookup always, even if the lookup was not empty. Eg: if you have item #crossover in your dropdown, but the user types #cross and then space, then that's a new keyword, completely different than #crossover...

So maybe you can add some extra configuration for each del

[2016-04-06 08:26] alfredopacino opened #37 "angular.js integration"
Is this plugin compatible with angular.js?
as in docs, this is my setting
[code]

[code]

I get an error `plugin.min.js:1 Uncaught TypeError: Cannot read property 'top' of undefined` from mention script (plugin.js)

[2016-04-06 12:39] StevenDevooght commented on #37
I think the plugin should be compatible with angular.js. Can you post a fiddle or codepen with the issue?

[2016-04-11 15:07] alfredopacino commented on #37
please ignore that `a.indexOf is not a function` (not sure where it comes from)
http://jsfiddle.net/alfredopacino/uLx361tp/1/

You can type "@" and you will see `Cannot read property 'top' of undefined`

[2016-04-12 09:51] StevenDevooght commented on #37
Since the plugin internally uses a `span` element the `valid_elements` setting has to allow it. Updating the setting to `a[href|target=_blank],strong/b,div[align],br,li,ol,ul,i,span[id=autocomplete]` fixes the issue.

I also updated the [fiddle](http://jsfiddle.net/uLx361tp/5/).

[2016-04-13 08:25] alfredopacino commented on #37
thanks

[2016-04-13 08:25] #37 closed

[2016-04-22 08:14] AlexECP opened #38 "hashtags vs mentions"
Hi,

is there a way to set it so a different list is displayed when the user types '#' then when they type '@'?

[2016-04-22 08:47] StevenDevooght commented on #38
Hi,

It is possible to configure an [array](https://github.com/CogniStreamer/tinyMCE-mention#array-1) of delimiters.

The source setting can be configured as a [function](https://github.com/CogniStreamer/tinyMCE-mention#function) where you can differentiate between the configured delimiters.

[2016-04-22 17:49] AlexECP commented on #38
awesome, thank you. not sure how I missed that in the readme.

[2016-04-22 17:49] #38 closed

[2016-05-10 09:20] ofcapl opened #39 "Failed to load: ../mention/editor_plugin.js"
Hi,
I've tried to setup mention plugin with my TinyMCE which I have in my Django app but I'm getting an error:

`Failed to load: localhost:8000/.../mention/editor_plugin.js`

I've copied whole repo to my TinyMCE's plugins directory (is it correct way? (I don't want to use bower etc.)) and there is not any file with name `editor_plugin.js`.

Please help.

[2016-05-10 17:57] StevenDevooght commented on #39
You can find the `editor_plugin` javascript on the [3.5 branch](https://github.com/StevenDevooght/tinyMCE-mention/tree/3.5/mention). Note if you're using TinyMCE 4+ you have to use `plugin.js` from the master branch.

[2016-05-12 07:51] ofcapl commented on #39
that worked, thanks!

[2016-05-12 11:06] #39 closed

[2016-05-27 15:02] CMTietgen opened #40 "Problem using function example"
I tried out your extension and it works well if I hard-code the source like in your example. However, if I try to use your function example (by copy/pasting it), the list never populates and closed almost as soon as it opens.

When I debugged it I got the error shown in the screenshot.

![mentions-error](https://cloud.githubusercontent.com/assets/13341574/15611810/121876a4-23fa-11e6-98b9-685a11ad4

[2016-05-27 17:26] CMTietgen commented on #40
I got it figured out. :)

[2016-05-27 17:51] PieEatingChamp opened #41 "Can't get multiple delimeters to work."
I have tried the example at the link below, but the "#" symbol never triggers the lookup.

[Issue # 2](https://github.com/StevenDevooght/tinyMCE-mention/issues/2)

When I added a break point on the 1st getJSON call, it only hits it when I type a "@".

Thoughts?

[2016-05-28 06:06] StevenDevooght commented on #40
+1

[2016-05-28 06:06] #40 closed

[2016-05-28 06:12] StevenDevooght commented on #41
Hi,

Can you show me your tinyMCE config file? Which browser and what version of the plugin are you using?

[2016-05-28 14:35] PieEatingChamp commented on #41
I have attached my project below. I'm running it via localhost on my home PC. It's using TinyMCE 4.3.12.

Here are the issues I'm having:

1. The 2nd delimiter "#" isn't working in IE11, Chrome, or Firefox.
2. The 1st delimiter "@" is only working in IE11. In Chrome and Firefox it just shows the popup, but never populates the list.
3. The "insert" and "render" functions aren't triggering.

Let me

[2016-05-30 18:41] StevenDevooght commented on #41
The `delimiter` configuration setting has to be included in the mention configuration. Your config should look lik this:

[code]

[2016-05-31 11:35] PieEatingChamp commented on #41
Thanks! It's always something simple. :) Turns out that was also the issue with my "insert" and "render" settings.

I think I read on this site that I can perform different "insert" and "render" for each delimiter, right? I just need to check which delimiter was used inside those functions?

[2016-05-31 13:31] StevenDevooght commented on #41
Indeed. You can find what you want [here](https://github.com/StevenDevooght/tinyMCE-mention/issues/2#issuecomment-100885913).

[2016-06-24 10:13] #41 closed

[2016-07-12 18:54] StevenDevooght commented on #33
Package is now published on npm. https://www.npmjs.com/package/tinymce-mention

[2016-07-12 18:54] #33 closed

[2016-08-02 10:59] payamka opened #43 "set NEWLINE as delimiter"
Hi
Thank you for this great plugin.

I have a question. How I can set NEWLINE as a delimiter then lookup run in new line after typing any thing?

Thank you!

[2016-08-02 11:33] StevenDevooght commented on #43
Hi,

I'am afraid that is not possible since tinyMCE converts line breaks to <p></p> tags...

Is there an other character you can use to solve your problem?

[2016-08-02 11:45] payamka commented on #43
Thank you for your answer.
I want to run lookup after typing any character and stops after space char. Is it possible?

[2016-08-03 20:00] StevenDevooght commented on #43
Start lookup after any character can be done in theory if you configure any character in de delimiter array.  (https://github.com/StevenDevooght/tinyMCE-mention#array-1).

Stopping after space is not possible at the moment. you have to select a value from the dropdown using the mouse or hitting the enter button.

[2016-08-22 15:34] dano1066 commented on #32
I had a similar issue. Since this is a tinymce issue, the best thing you can do is add some sort of placeholder in the front and back of the insert. Then with your server side code you can use this placeholder mark to be able to grab the data. So it might look like &nbsp;$%@Alex$%&nbsp;. You can then get replace the $% with whatever you like rather than having to do a blanked replace of all occurr

[2016-08-22 20:41] StevenDevooght commented on #32
Indeed, we also added a wrapper element in our `insert` function.
[code]
This way we can easily parse the mentions.

[2016-08-22 20:41] #32 closed

[2016-09-21 06:03] TuningGuide opened #44 "Non jquery version"
Hi, tinymce released a version without jquery. Therefore I ported your plugin also to a non jquery version. Would you like to merge my changes into your repo or shall I create an own package?

[2016-09-21 06:27] StevenDevooght commented on #44
Sure, I would be happy to merge your changes. Can you make a pull request?

[2016-11-01 11:38] ssoju opened #48 "Issue in the first position of the line."
Look at the follow video.

https://github.com/ssoju/javascript/blob/master/screencast%202016-11-01%2020-18-24.mp4?raw=true

please help me.

[2016-11-02 18:21] NathanWailes opened #49 ""NOTE: Use v3.x if you're using tinyMCE v3.5.x, use v4.x if you're using tinyMCE v4.x""
What is this line from the readme referring to:

As far as I can tell, there is no jQuery v4.x, and so it seems that line is not referring to versions of jQuery. I'm not sure what else it might be referring to.

[2016-11-02 21:37] StevenDevooght commented on #49
Hi, the note is regarding the tinyMCE version.

[2016-11-03 19:16] StevenDevooght commented on #48
Hi,

Can you create a fiddle ([http://fiddle.tinymce.com/](http://fiddle.tinymce.com/)) demonstrating the issue?

[2016-12-01 09:52] jhuet opened #50 "Not working on Android Chrome"
Hello,

The plugin doesn't seem to work on Chrome browser under Android OS. It does work on Chrome under iOS though.

Any thoughts ?

[2016-12-01 10:23] StevenDevooght commented on #50
Hi,

Don't know what the issue might be. A remote debugging session will tell us more (https://developers.google.com/web/tools/chrome-devtools/remote-debugging/)

[2016-12-08 09:14] #49 closed

[2017-01-12 14:14] Flatlinezor opened #51 "Onclick button delimiter not registered"
Hello!

Is there a way to get the delimiter registered via a button click?

@ does not seem to trigger mentions although if I were to manually enter it, it works like charm.

onclick: function () {

						tinymce.activeEditor.execCommand('mceInsertContent', false, "@");
									}
						});

[2017-01-12 18:25] StevenDevooght commented on #51
I don't really understand the question. You want to get the configured delimiter from the mention plugin?

[2017-01-13 07:22] Flatlinezor commented on #51
No :) I have two delimiters # and @ configured properly and they work
flawlessly. What I wish to do is having a button on the toolbar for each,
which I have done but since i guess editor.insertcontent is not listened to
by mentions because it does not have onkeyup or onkeydown? Meaning the
delimiters appear in the aditor after pressing the button(s) but they dont
start to engage with mentions as u

[2017-01-13 07:46] StevenDevooght commented on #51
Ah, ok

Indeed that functionality is not build in at the moment. I think it should be possible to trigger a keyup event in the button click handler. This should trigger the plugin. Of course it would be nice if we could put this behavior in the plugin itself.

[2017-01-13 07:55] Flatlinezor commented on #51
Unforrunately I am afraid I am not good enough to commit that in. If you
ever get time, please try to look into it,maybe it is not thqt time
consuming

On 13 Jan 2017 8:46 a.m., "Steven Devooght" <notifications@github.com>
wrote:

[2017-01-15 16:33] StevenDevooght commented on #51
What you can do in your button callback is fire the keyup events instead of calling the `insertContent` command.

See example [here](https://github.com/StevenDevooght/tinyMCE-mention/blob/master/tests/test_mention.js#L13).

You can find the keycodes for your delimiters [here](http://web.archive.org/web/20110807175224/http://www.meelink.com/webboard/data/3/0097-1.html).

[2017-01-15 22:07] Flatlinezor commented on #51
Thanks for the help. Eventually I will need to use something that guarantees me that the delimiters will be placed in the proper editor (since I will have multiple editors on my page because all the text that I am allowing to be edited are presented as section per section.)

Your example lines will be a good addon for the full plugin since the test one you use is considerably smaller than your ful

[2017-01-24 13:44] jhuet commented on #50
Hello @StevenDevooght,

We finally had a bit of time to dig into this problem. It appears that `keypress` event is now deprecated and not used by Chrome on Android anymore. More explanations can be found [here](http://stackoverflow.com/questions/30743490/capture-keys-typed-on-android-virtual-keyboard-using-javascript).

As there is no real bug to fix, i guess the only way to make this work would b

[2017-01-24 15:42] StevenDevooght commented on #50
According to [this](http://stackoverflow.com/a/24434463/631271) post the**beforeinput** event can be used.

[2017-01-27 08:36] michaelsmedley opened #52 "Is it possible to delay call until user has typed a couple of characters?"
Looking at using this as an auto-suggest, but for quite a large dataset.

Rather then have the dropdown appear as soon as the user types '@', is it possible to delay it until the user types i.e. '@jan' and then have the dropdown populate with options starting with 'jan'?

Looking at the documentation it looks like this can be achieved by running a function through the source parameter, but just wa

[2017-01-27 11:14] StevenDevooght commented on #52
As soon as you type the **@** the plugin kicks in. In the source function you can choose when to call the **process** callback. That should do the  trick.

[2017-01-27 11:30] michaelsmedley commented on #52
Yep, noticed I can pull the query parameter and get the string after the '@', so passing that to a php script to filter the results - exactly what I was after!

All sorted - thanks a lot for the response!!

[2017-01-27 11:30] #52 closed

[2017-01-30 11:44] Flatlinezor commented on #51
Well yes I suck, could not do it after all :) Will wait I guess until it might get implemented ^_^

[2017-01-30 16:29] bkmorse opened #53 "Possible to have two properties to search in for queryBy?"
Source format:

[code]

Is it possible to allow for it to search in both the name and username of the source as seen above?

I tried: `queryBy: 'name, username' `and it does not seem like it supports it. Is there any chance it could support that? I would only need the name or username to be inserted after the user selected

[2017-01-31 08:37] StevenDevooght commented on #53
You can use the `source` [function](https://github.com/StevenDevooght/tinyMCE-mention#function) and implement your own query logic.

[2017-02-02 19:55] PaulMarclay opened #54 "Configuration - not an issue, just a question"
I've installed this plugin using npm install, but I'm not sure about how should I tell to TinyMCE from where it must load it.

I'm using it in a rails application.

I have installed TinyMCE from its CDN
[code]
and I have initialized it on this way:
[code]

Do you know how should I tell to TinyMCE to use your plugin without changing the base url configuration?

Thanks!
Paul.

[2017-02-02 20:14] StevenDevooght commented on #54
Hi,

Normally you just have to copy the plugin to the **plugins** folder of the tinymce installation.

Alternatively you can use the the `external_plugins` option. An example can be found [here](https://github.com/StevenDevooght/tinyMCE-mention/blob/gh-pages/index.html).

I don't have experience with ruby on rails, but maybe [this gem](https://github.com/spohlenz/tinymce-rails) can help?

[2017-02-02 20:24] PaulMarclay commented on #54
Hi Steven,

it worked very well using the external_plugins option.
Many thanks for your quick response, I appreciate it.

Cheers.

[2017-02-02 20:24] #54 closed

[2017-02-13 12:14] knd opened #55 "How to auto select the first item in dropdown menu?"
When the dropdown menu is open, I want the first item in the list to be auto active and be actually selected upon enter key. Similar to the default and then hit down arrow key.

<img width="526" alt="screen shot 2017-02-13 at 7 12 03 pm" src="https://cloud.githubusercontent.com/assets/1356620/22883009/982a0b1e-f220-11e6-8cfd-94cc992f087e.png">

[2017-02-13 12:46] StevenDevooght commented on #55
Hi,

That behavior is currently not supported, but it should be pretty straightforward to build this in.

[2017-03-06 20:12] Flatlinezor opened #56 "Mouse click fix disappeared"
Hello!

You fixed the mouse click entry selection from the mention earlier and now downloading the latest one it still has the issue but a couple of versions back it's indeed still fixed.

Can you look into it why has it disappeared? :)

[2017-03-06 20:16] Flatlinezor commented on #56
Don't mind me, caching problems :)

[2017-03-06 20:16] #56 closed

[2017-05-31 06:45] #53 closed

[2017-05-31 06:45] #55 closed

[2017-05-31 06:46] #48 closed

[2017-06-28 15:01] chewymole opened #59 "autocomplete drop down possition in IE & FF off"
new here, not sure how to replicate this, but using latest tinymce and loading the mention with plugins and ajax source with insert callback.

In IE and FF latest, the drop down is off the screen but works correctly in Chrome

[2017-06-28 15:12] StevenDevooght commented on #59
Hi,

Are you using version 4.6.4?

The [demo page](http://stevendevooght.github.io/tinyMCE-mention/) is using 4.6.2 and seems to work on all browsers...

[2017-06-28 17:10] chewymole commented on #59
Was 4.5.6, then i updated tiny to 4.6.4 and now it works as expected in FF and in Chrome, just not in IE.

In IE11 the drop down shows up below the bottom of the editor. Not a big deal just wondering if there is something i can do to address it.

Thanks again, this is a very nice plugin

[2017-06-29 06:56] StevenDevooght commented on #59
Does it work on the demo page? I don't have the issue on my machine in IE...

![image](https://user-images.githubusercontent.com/449346/27675074-c48d9a5c-5ca8-11e7-8f80-1f18299fed1f.png)

[2017-06-29 12:04] chewymole commented on #59
Hmm, it does work correctly in the demo. It must be some css forcing it down.
Thank you

[2017-06-29 12:04] #59 closed

[2017-06-29 12:11] chewymole commented on #59
My tiny editor is initialized hidden, and i think that is what is causing the issue. Is there a function i can call to re-compute the position?

[2017-07-07 23:15] vonkad opened #60 "Continue a canceled mention"
In systems like Jira, but for example also here on github

- start writing @h
- press space or enter, which cancels th suggestion and leaves just the plain text @hi
- do a backspace and thereby **start the suggestion again**, the mention comes back to life

It would be great if tinyMCE-mention would eventually support this.

Thanks for a great piece of software.

If you do not intend to add such a

[2017-07-10 06:45] StevenDevooght commented on #60
@vonkad, that would indeed be a very useful feature to have. I was not planning of adding this anytime soon. So I would be happy to accept your tips & tricks or even a pull request 😄

[2017-07-28 19:26] #51 closed

[2017-07-28 19:38] #43 closed

[2017-09-13 13:26] PatmanAA opened #64 "Uncaught TypeError: rbuggyQSA.test is not a function at Function.Sizzle"
I use tinymce with mention plugin,
When I enter @ my list box is geting fill with my source so it's all good but in chrome debuger I get this error:

Uncaught TypeError: rbuggyQSA.test is not a function
    at Function.Sizzle [as find] (jquery.js?v=1504808392:818)
    at jQuery.fn.init.find (jquery.js?v=1504808392:2792)
    at jQuery.fn.init (jquery.js?v=1504808392:2909)
    at jQuery (jquery.js?v

[2017-09-14 06:29] StevenDevooght commented on #64
Hi @PatmanAA,

Can't really tell what the problem might be... The stacktrace doesn't contain anything about the mention plugin.

Do you know where the  `rbuggyQSA.test` function comes from?

[2017-09-15 06:17] StevenDevooght commented on #64
Hi, I haven't tested my plugin with jQuery v2.2.4. That could be the problem. Can you test with an older version of jQuery (e.g v1.8.3)

[2017-10-18 19:43] kalati commented on #51
@StevenDevooght  man its not workingin my case in angular4

[2017-10-18 19:45] kalati commented on #51
please help me i have same issue and i m trying it from previous 4 days and i have nothing to write in my jira story for time logging 😢

[2017-10-18 20:51] enriquemolinari opened #66 "jquery version dependency"
I see that the plugin is using jquery plugin version 1.8.3. Can it be used with a 2.x version?

[2017-10-19 06:48] StevenDevooght commented on #66
@enriquemolinari I haven't tested the plugin with jquery 2.x so I don't know. Give it a try I would say...

[2017-10-19 06:57] kalati opened #67 "delimiter fire by external button"
i have a button when i click on this it should write delimiter in text area and fire all those actions which are  done by writing menially delimiter

finally delimiters functionality by external button

[2017-10-19 07:03] StevenDevooght commented on #66
I did a test with jquery 2.2.4 & 3.2.1 which bot work fine.

[2017-11-28 21:04] saransh944 commented on #44
Hi @TuningGuide and @StevenDevooght ,

Did we do a merge? I'm assuming no because its still using JQuery. @TuningGuide were you able to create a pull request?

[2017-11-30 08:42] StevenDevooght commented on #44
Hi @saransh944,

There is a seperate branch, but it was never finished. Also it's not in sync anymore with the master branch...

[2017-11-30 13:30] valorize commented on #44
Here is the Pull Request in Question: https://github.com/StevenDevooght/tinyMCE-mention/pull/45

[2018-04-02 12:02] ProdigyView opened #69 "autoCompleteData is undefined"
I am getting this error when trying to initative the plugin:

On plugin.js:382:13, which is thie line:

[code]
I am using TinyMCE 4.7.9 and JQuery 3.2.1.

[2018-04-04 06:43] StevenDevooght commented on #69
Hi,

Can you create a [fiddle](http://fiddle.tinymce.com/) reproducing the issue?

[2018-04-17 10:49] ProdigyView commented on #69
Closing, I just set some options in the wrong place.

[2018-04-17 10:49] #69 closed

[2018-05-02 06:33] hammygoonan commented on #25
This still seems to be an issue. I had a quick poke around but it looked like it needed some deeper investigation. Is it on your 'to do' list @StevenDevooght

[2018-05-14 10:21] StevenDevooght commented on #25
Hi, It's not on my todo list atm. Feel free to have a look 😄

[2018-06-13 12:48] KristiyanTs opened #71 "Close dropdown when no results are found"
How to close the dropdown when source() does not find any results?

[2018-06-14 07:42] StevenDevooght commented on #71
Hi,

You can continue typing and hit ENTER or ESCAPE.

[2018-10-03 07:51] kurdtpage opened #72 "Cannot read property 'toLowerCase' of undefined"
I have just installed this plugin (2018-10-03) with TinyMCE version 4.2.7 and I get the following errors (I am using [Sentry](https://sentry.io)):

**/js/tinymce/plugins/mention/plugin.min.js in e.matcher at line 1:3336**
[code]
**/js/tinymce/plugins/mention/plugin.min.js at line 1:4116**
[code]
**/jquery-1.11.2.min.js in Function.grep at line 2:3603**
[code]
**/js/tinymce/plugins/mention/plugin.m

[2018-10-23 15:35] meeshh opened #73 "rte-autocomplete in <body></body> only?"
there is no way to wrap rte-autocomplete in a desired container?
i have tinymce inside a bootstrap modal and the rte-autocomplete is dropping behind it

[2018-11-07 21:44] AhmedElbatt opened #74 "Integration with Typescript"
Hi Steven,

May I ask you if you can provide me with a demo on how I can use the tinyMCE-mention in TS file.That is a simple of my code :

import * as tinymce from 'tinymce';
import { getMainLayoutUrl } from '../getMainLayout';
var mentions = require('tinymce-mention');

export function loadCommentEditor(selector: string) {
    let mainCss = getMainLayoutUrl();

    tinymce.init({
        selector

[2018-11-07 22:17] AhmedElbatt commented on #72
@kurdtpage
I'm stuck at the same issue.May I ask you if you've already solved this issue or had a work around solution?
Thanks !

[2018-12-04 14:36] meeshh commented on #16
@christophedebatz did you find anything concerning the remove event by any chance?

[2019-01-18 02:24] YCMitch commented on #50
Hey @StevenDevooght

Just checking this still hasn't been fixed, has it? Certainly not complaining, just curious.

[2019-02-15 23:08] brunoniconeves commented on #50
I solved the problem changing the keypress event by on('input'). This change was not simple, because the preventEventDefault stop to work with input event.

So i have to deal with double delimiter input problem...the code can be improved, but it do the job now. The code of the mention.js that i'm using rigth now is that (i also change some event like dismiss dropdown list on scroll event, not a go

[2019-03-22 19:30] schaffer1969 opened #75 "Does not seem to work when multiple editors on same page"
Hi,

I'm having issues getting two instances working on the same page.
The first instance displays the dropdown but the second does not.

I saw the previous issue from 2015 and can't get that working even if I update the JS and css file locations.
https://github.com/StevenDevooght/tinyMCE-mention/issues/26

I've included my code below.
I'd appreciate your thoughts on this.

`

<html>
<head>
<link

[2019-03-26 10:08] StevenDevooght commented on #75
Hi,

Can you create a [fiddle](http://fiddle.tinymce.com) reproducing the problem?

[2019-03-26 10:09] StevenDevooght commented on #75
The [updated fiddle](http://fiddle.tinymce.com/EWeaab/2) seems to work.

[2019-03-27 16:59] schaffer1969 commented on #75
Thanks Steven.
There seems to be a compatibility issue with TinyMCE 5.0+. Works with 4.x but not 5.
See example [fiddle](http://fiddle.tinymce.com/NEgaab)

[2019-05-02 21:37] kurdtpage commented on #72
Sorry for the late reply, I have not changed anything. I assume this will be fixed in the next update.

It's hard to check if the variable that `toLowerCase` is being applied to is defined or not, because I am using minified code

[2019-06-20 13:06] kharai-tor commented on #72
I have had this issue when:

a. I didn't pass the `queryBy` option, or
b. The `queryBy` option I passed wasn't present as a property in source objects

Your issue might be caused by the same reasons. If not however, try referencing the unminified script file instead, the code is only a couple hundred lines long and it's not that hard to figure out what's going on in there.

[2019-06-20 13:27] kharai-tor commented on #25
Here's what I did to work around this issue:
[code]
Sure this is a hack but it's kind of reliable as the `source` function always runs before the `render` function does thus guaranteeing the `q` variable to always be up to date. (Or at least that's what my testing of version 4.0.2 showed)

[2019-06-20 14:18] kharai-tor opened #76 "Option to select the 1st item by default"
Looks like this has already been requested here - https://github.com/StevenDevooght/tinyMCE-mention/issues/55

I would like to have a boolean flag to enable this, it's especially useful when the user is filtering through the items and there's only one left to select.

[2019-06-20 14:25] kharai-tor opened #77 "Small filtering glitch"
For example, if I type `@a`, hit the backspace only leaving the `@` symbol and start typing again, the filtering stops working.

This hinders the user experience 'cause if the user accidentally types a wrong character he/she then has to delete the `@` symbol too and start over.

Can this be fixed please?

[2019-06-20 14:56] kharai-tor commented on #76
I think this is as easy as passing the index of an item to the `render` function. The render function will then test if the index is equal to 0 and add the `active` class to the `li` if it is.

I can send you a PR if you like this solution.

[2019-07-10 02:14] kpei opened #78 "Using Mention within modal"
Anyone got this to work?  I currently have tinymce editor in a modal and trying to use mention does not work.  The API calls are being done so I know the plugins loaded but nothings showing up. See below

https://i.imgur.com/w7I9S8q.png

[2019-07-10 02:19] kpei commented on #78
setting z-index to 10000 solved my issue

[2019-07-10 02:19] #78 closed, assigned to nobody

[2019-07-19 06:20] tnaveen246 commented on #66
is this works with jquery 3.4.1, when we have tables in the editor,  I think it is not working properly please check this once, suggestions show in the wrong place.
![image](https://user-images.githubusercontent.com/22374681/61513600-43cf2a80-aa1b-11e9-8c33-a315d119ba62.png)

[2019-07-19 06:23] tnaveen246 opened #79 "It is not works properly with jquery 3.4.1"
is this works with jquery 3.4.1, when we have tables in the editor,  I think it is not working properly please check this once, suggestions show in the wrong place.
![image](https://user-images.githubusercontent.com/22374681/61513600-43cf2a80-aa1b-11e9-8c33-a315d119ba62.png)

[2019-11-09 07:42] Liahus3003 opened #81 "Issue with Insert function"
I have been trying to provide support for RTL languages in my application, so whenever I type ${name} in directionality RTL it gets changed to {name}$, this should not happen for me. Therefore I have been using the following format :

`insert: function(item) {
                    return "<span dir='ltr'>" + item.placeholder + "</span>";
 }, `

while this works for my case with single placeholder,

[2019-11-11 13:50] hardik-singhal opened #82 "Down arrow (keyboard) not work in the drop down for more then 10 elements in a list"

[2019-11-13 13:49] hardik-singhal commented on #82
@StevenDevooght Please look into this

[2020-01-06 14:57] StevenDevooght commented on #82
Hi,

Can you create a [fiddle](http://fiddle.tinymce.com) reproducing the problem?

[2020-01-16 10:07] shivarchit commented on #82
@StevenDevooght , I had a similar issue, where I needed to view options via keyboard only, the options get hidden when the `<ul>` dropdown has a fixed height and a large number of options are available, the highlighted option does not remain, in the view. Here is fiddle example

I fixed this by adding scrollIntoView(false) under your plugin.js when keyboard functions are triggered.

Also, I accide

[2020-01-16 10:26] hardik-singhal commented on #82
@shivarchit Thankyou for providing the fiddle, I also have the same issue with the `tinyMCE-mention` . I tried the solution you provided in your last comment and it works. thanks for helping but i will ask @StevenDevooght to update this in the project so that it can be directly used without changing every time we install tinyMCE-mentions.
Thanks!

[2020-04-21 06:09] developeronboard commented on #81
Hi, do you found any solution for this?

[2020-04-22 08:11] developeronboard opened #84 "Doesnt work in mobile"
I had included this plugin in my project works well in web but not in android browsers . Even [http://stevendevooght.github.io/tinyMCE-mention/](url)  doesnt works in android browsers.

[2020-04-24 07:01] developeronboard commented on #82
@hardik-singhal can you favour me a help? can you check and tell whether this plugin works on mobile? If so what is the procedure?

[2021-01-11 21:29] charlieford opened #85 "additional text remains inside `insert` return"
Hey,

This is such a great plugin to have, I've just implemented it but am having a small issue;

I use this to format my text:

[code]

The issue is, that when I continue typing after selecting from the dropdown, the rest of my text continues inside the `span` tag.

[2021-02-26 04:49] AlisonZXQ opened #86 "windows os system，and change keyboard to chinese, input @，it is invalid"
windows os system，and change keyboard to chinese, input @，it is invalid

[2021-07-14 07:11] ciricbgd opened #87 "Is this deprecated?"
Build doesn't pass on version 4.0.1.
Incorporating this into my project yields no errors, but doesn't do anything when  typing the @ symbol

[2021-07-26 13:05] StevenDevooght commented on #87
Hi,

The plugin is not actively maintained anymore. You can find a working demo using TinyMCE version 4.6.4 [here](http://stevendevooght.github.io/tinyMCE-mention/).

[2021-07-26 13:05] #87 closed, assigned to nobody

[2022-04-05 04:38] marmz opened #89 "$getJSON() not working"
I tried to put the same source of demo in an external file:

`mentions.json`

code:
[code]

then fetch it like suggested:

code:
[code]

No errors in console but, when pressing `"@"`, i got an **empty** popup..
Any ideas?

PS: When loading items with `source` (without using $.getSON for external file) everything works fine.

[2022-04-05 04:51] marmz commented on #35
HI!
Did you find a solution to this? I have the same problem and i did not try to modify the code .. by now ;)

[2022-10-06 07:05] divijc commented on #85
pushing `&nbsp;` after the closing of the span does the trick
`insert: function(item) {
	return '<span class="mention" id="' + item.sequence + '">@' + item.name + '</span>&nbsp;';
},`

[2022-11-22 23:35] DexterStudio opened #90 "How use replace &nbsp to &ensp; ?"
I want  :  &ensp; space &ensp; space

not  :  &nbsp ; space &nbsp ; space